*{
  margin: 0;
}

button{
  cursor: pointer;
}

body{
  background-color: rgb(3, 113, 103);
}

#popup_menu{
  visibility: visible;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 800px;
  height: 600px;
  border-radius: 10px;
}

#popup_menu_container div{
  margin: 25px;
}

input{
  width: 50px;
}

h1{
  color: white;
  margin: 5px;
  text-align: center;
}

#players{
  width: 100%;
  display: flex;
  text-align: center;
}

.player_name_colour{
  color: rgb(255, 234, 0);
  padding: 10px;
}

.players_grid{
  width: 150px;
  height: 194px;
  border: 2px solid;
  border-color: rgb(255, 234, 0);
  border-radius: 2px;
  margin: 10px;
  flex-grow: 1;
}

#player1{
  height: 194px;
}

.players_hand{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.card_total{
  margin: 10px;
  color: white;
  text-align: center;
}

.card{
  background-color: white;
  overflow: hidden;
  width: 72px;
  height: 110px;
  border-radius: 5px;
}